export PGDATABASE=railway
export DATABASE_URL="postgresql://postgres:qEymZTkCXtNDAGGRTwfbLjsJTMPtPwrR@viaduct.proxy.rlwy.net:24244/railway"
export GOOSE_MIGRATION_DIR=pkg/db/migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"